<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ai_helper.ai_helper.mapper.DefenseRecordsMapper">

    <select id="getDefenseRecords" resultType="com.ai_helper.ai_helper.pojo.vo.DefenseRecordsVo">
        SELECT
            dr.defense_id as defenseRecordId,
            u.name AS userName,
            u.user_number as userNumber,
            u.profile_picture AS profilePicture,
            dt.topic_name AS topicName,
            dr.score AS score,
            dr.defense_date AS defenseTime
        FROM
            defense_records dr
                JOIN users u ON dr.user_id = u.user_id
                JOIN defense_topics dt ON dr.topic_id = dt.topic_id
        <where>
            <if test="userName != null and userName != ''">and u.name like concat('%',#{userName},'%')</if>
            <if test="userNumber != null and userNumber != ''">and u.user_number like concat('%',#{userNumber},'%')</if>
            <if test="topicName != null"> and dt.topic_name like concat('%',#{topicName},'%')</if>
        </where>
        ORDER BY dr.defense_date DESC

    </select>

    <select id="getDetailRecords" resultType="com.ai_helper.ai_helper.pojo.vo.DetailRecordsVo">
        select
            dr.defense_id as defenseId,
            users.name as studentName,
            users.user_number as studentNumber,
            dr.defense_date as defenseTime,
            dr.video_url as defenseVideoUrl,
            dr.report_url as defenseReportUrl,
            dr.video_analysis as aiVideoAnalysis,
            dr.report_analysis as aiReportAnalysis,
            dr.feedback as aiAllAnalysis
        from
            defense_records dr
                join users on dr.user_id = users.user_id
        where
            dr.defense_id = #{defenseId}
    </select>
    <select id="getDefenseQuestionsAnswers" resultType="com.ai_helper.ai_helper.pojo.vo.QuestionDetailVo">
        select
            da.answer_id as answerId,
            dq.question,
            dq.question_type as questionType,
            da.student_answer as studentAnswer,
            da.score,
            da.feedback,
            da.created_at as createdAt
        from
            defense_answers as da
                join defense_questions as dq on da.question_id = dq.question_id
        where
            da.defense_id = #{defenseId}
    </select>
    <select id="getStudentDefenseRecords" resultType="com.ai_helper.ai_helper.pojo.vo.DefenseRecordsVo">
        select
            dr.defense_id as defenseRecordId,
            u.Name as userName,
            u.user_number as userNumber,
            u.profile_picture as profilePicture,
            dt.topic_name as topicName,
            dr.score,
            dr.created_at as defenseTime
        from    defense_records dr
                    left join users u on u.user_id = dr.user_id
                    left join defense_topics dt on dt.topic_id = dr.topic_id
        where u.user_number = #{userNumber}
    </select>
    <select id="getDefenseTopic" resultType="com.ai_helper.ai_helper.pojo.entity.DefenseTopics">
        select
            topic_id as topicId,
            teacher_id as teacherId,
            topic_name as topicName,
            topic_description as topicDescription,
            defense_time as defenseTime,
            created_at as createdAt
        from
            defense_topics
        order by defense_time DESC
    </select>


    <insert id="insertVideoUrl">
        INSERT INTO defense_records (user_id, video_url, created_at)
        SELECT u.user_id, #{url}, NOW()
        FROM users u
        WHERE u.user_number = #{userId}
        LIMIT 1
    </insert>

</mapper>
